@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
  color: #4a90e2 !important;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"),
    url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-duotone-900";
  font-display: swap;
  src: url("../fonts/fa-duotone-900.woff") format("woff"),
    url("../fonts/fa-duotone-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-light-300";
  font-display: swap;
  src: url("../fonts/fa-light-300.woff") format("woff"),
    url("../fonts/fa-light-300.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"),
    url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-solid-900";
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff") format("woff"),
    url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserat-r";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserat-b";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserat-bl";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "montserat-m";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "play";
  font-display: swap;
  src: url("../fonts/Play.woff") format("woff"),
    url("../fonts/Play.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "notoSb";
  font-display: swap;
  src: url("../fonts/NotoSansBamum-VF.woff") format("woff"),
    url("../fonts/NotoSansBamum-VF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* ====wrapper==== */

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
}

/* ====wrapper-end==== */

/* ===Header=== */

.header {
  max-width: 100%;
}

.header__container {
  width: 100%;
  background-color: #04105d;
  min-height: 67px;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.header__container_gallery {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__navbar {
  max-width: 1400px;
  min-height: 67px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #04105d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header .logo > span {
  margin: 0 0 0 0;
  color: #fff;
  font-family: "play";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.header .logo:after {
  content: "모네 뇌영상 공작실";
  position: absolute;
  top: 37px;
  left: 239px;
  color: #fff;
  font-family: notoSb;
  font-size: 9px;
  line-height: 8px;
}

.header__logo {
  margin-left: 170px;
}

.header__logo:hover {
  color: #4a90e2;
}

.header-menu {
  margin-right: 180px;
}

.header-menu__icon {
  display: none;
}

.header-menu__body ul {
  margin-bottom: 0rem !important;
}

.header-menu__list li {
  position: relative;
  margin: 0px 0px 0px 52px;
}

.header-menu__list li a {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.header-menu li:nth-child(1) {
  margin: 0;
}
.header-menu__img {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 245px;
  height: 67px;
  background: #2049d8;
}

.header-menu__img span {
  padding-left: 19px;
  font-family: "montserat-b";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-menu__btn {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  padding: 6px 37px;
  border-radius: 26px;
  border: 1px solid #fff;
  background: #04105d;
  color: #fff;
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.header-menu__btn:hover {
  color: #4a90e2;
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__list li a:hover {
  color: red;
}

body._touch .header-menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body._pc .header-menu__list > li:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .header-menu__list > li._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .header-menu__list > li._active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* === Header-end === */

/* === section-1 === */

.section {
  max-width: 1400px;
  min-height: 500px;
  margin: 0 auto;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_header {
  margin-top: 120px;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 380px;
  min-height: 200px;
  background: url("../img/Vector.png");
  background-size: contain;
}

.section_header p {
  font-family: "montserat-m";
  font-size: 15px;
  line-height: 150%;
  color: black;
  margin-top: 26px 0 13px 0;
}

.section_header h2 {
  font-family: "montserat-m";
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #1c1c1c;
}

.section_header span {
  color: #1dd8ff;
}

.section_header_btn {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 30px;
  margin: 41px 0px;
  padding: 9px 72px 12px 72px;
  background: #1dd8ff;
  font-family: "montserat-m";
  font-size: 14px;
  line-height: 150%;
  color: black;
}

.section_body img {
  width: 100%;
  height: 100%;
}

/* === section end === */

/* === section-form === */

.section__form {
  min-height: 500px;
  margin: 0 auto;
  margin: 100px 0 87px 0;
}

.section__form_body {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 60px;
}

.section__form .left-form {
  width: 316px;
  height: 390px;
  background: #f0f1f3;
  border-radius: 15px;
}

.section__form_item-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

.section__form_item-left h2 {
  margin: 40px 0 0 48px;
  font-family: "montserat-m";
  font-size: 23px;
  line-height: 28px;
  color: #000000;
}

.section__form_item-left span {
  display: block;
  font-family: "montserat-m";
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 51px 0 0 51px;
}

.section__form_item-left input {
  display: block;
  width: 220px;
  height: 37px;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px 48px;
  margin-bottom: -15px;
  background: #f0f1f3;
  padding-left: 11px;
}

.section__form_item-left button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9px 101px;
  width: 220px;
  height: 40px;
  background: #1dd8ff;
  border-radius: 5px;
  margin: 45px 0 0 48px;
  font-family: "montserat-m";
  font-size: 14.8895px;
  line-height: 150%;
}

.section__form .right-form {
  width: 399px;
  height: 677px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
}

.section__form_item-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

.section__form_item-right h2 {
  margin: 40px 0 0 48px;
  font-family: "montserat-m";
  font-size: 23px;
  line-height: 28px;
  color: #000000;
}

.section__form_item-right span {
  display: block;
  font-family: "montserat-m";
  font-size: 12px;
  line-height: 15px;
  color: #bebebe;
  margin: 51px 0 0 51px;
}

.section__form_item-right .email-list {
  display: block;
  position: relative;
  top: 6px;
  left: 203px;
  border-left: 1px solid #e0e0e0;
  padding: 8px 26px 7px 12px;
}

.section__form_item-right input {
  display: block;
  width: 298.02px;
  height: 36.99px;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 3px 48px;
  margin-bottom: -15px;
  position: absolute;
  padding-left: 11px;
}

.section__form_item-right .radio {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  margin: -10px 0 0 21px;
}

.section__form_item-right .radio span {
  position: relative;
  top: -50px;
  font-family: "montserat-m";
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.section__form_item-right .radio span:before {
  content: "";
  width: 15px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #bebebe;
  position: relative;
  left: -23px;
  top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__form_item-right button {
  width: 298px;
  height: 40.92px;
  margin-left: 48px;
  background: #1dd8ff;
  border-radius: 5px;
  font-family: "montserat-m";
  font-size: 14.8895px;
  line-height: 150%;
  color: #1c1c1c;
}

.section__form .form_fooetr {
  position: relative;
  top: -72px;
  left: 0;
}

/* === section-form end === */

/* === section-upload === */

.section__upload {
  /* max-width: 1400px;
  min-height: 500px;
  margin: 0 auto;
  margin: 100px 0 87px 0;
   */
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  margin: 100px 0 87px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__upload_header {
  position: relative;
  left: -358px;
}
.section__upload_header h2 {
  font-family: "montserat-m";
  font-size: 35px;
  line-height: 43px;
  color: #000000;
}

.section__upload_header ul {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 14px 0 22px 0;
}

.section__upload_header ul li a {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 158.5%;
  color: #8d8d8d;
}

.section__upload_header ul li:after {
  content: "/";
  color: #8d8d8d;
  padding: 0 17.5px;
}

.section__upload_header ul li:last-child::after {
  content: "";
}

.section__upload_items {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section__upload_item-left {
  width: 279px;
  height: 418px;
  margin-right: 15px;
}

.section__upload_item-rigth {
  width: 667px;
  height: 609px;
  background: #f4f4f6;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-left_header {
  width: 279px;
  height: 114px;
  background: #04105d;
  border-radius: 15px 15px 0px 0px;
  position: absolute;
}

.item-left_header h3 {
  width: 190px;
  font-family: "montserat-r";
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  padding: 27px 0 0 38px;
}

.item-left_header span {
  width: 190px;
  font-family: "montserat-r";
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  padding: 27px 0 0 38px;
}

.item-left_header img {
  position: relative;
  top: -24px;
  left: 36px;
}

.item-left_box {
  width: 279px;
  height: 327px;
  background: #f4f4f6;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 89px;
}

.item-left_box ul {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px;
}

.item-left_box ul li a {
  display: block;
  width: 279px;
  height: 57px;
  padding-left: 35px;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-left_box ul li a:hover {
  background: #e8e8e8;
}

.item-left_box span {
  font-family: "montserat-r";
  font-size: 16px;
  line-height: 158.5%;
  color: #000000;
  padding-left: 26px;
}

.item-rigth__selection {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  position: absolute;
  margin-top: 57px;
}

.item-rigth__selection_first {
  margin-right: 7.5px;
}

.item-rigth__selection_first span {
  width: 227px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px 0 0;
  font-family: "montserat-r";
  font-size: 16px;
  line-height: 158.5%;
  color: #000000;
}

.item-rigth__selection_first p {
  width: 63px;
  height: 48px;
  left: 163px;
  top: -51px;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  position: relative;
}

.item-rigth__selection_first p:after {
  position: relative;
  content: "\f054";
  color: #000;
  font-family: "fa-solid-900";
  left: 27px;
  top: 18px;
}

.item-rigth__selection_list {
  position: absolute;
  width: 227px;
  min-height: 149px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  z-index: 999;
  top: 54px;
  /* выпадающее меню display: block*/
  display: none;
}

.item-rigth__selection_link {
  width: 227px;
  height: 41px;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "montserat-m";
  font-size: 14.8895px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.item-rigth__selection_link:hover {
  background: #e8e8e8;
}

.item-rigth__selection_second {
  margin-left: 7.5px;
}

.item-rigth__selection_second span {
  width: 227px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px 0 0;
}

.item-rigth__selection_second p {
  width: 63px;
  height: 48px;
  left: 163px;
  top: -51px;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  position: relative;
}

.item-rigth__selection_second p:after {
  position: relative;
  content: "\f054";
  color: #000;
  font-family: "fa-solid-900";
  left: 27px;
  top: 18px;
}

.item-rigth .input__wrapper {
  width: 100%;
  position: relative;
  margin: 180px 0 0 0;
  text-align: center;
}

.item-rigth .input__wrapper img {
  width: 30%;
  height: 100%;
}

.item-rigth .input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 274px;
  cursor: pointer;
}

.item-rigth .input .input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.item-rigth .input .input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.item-rigth .input .input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.item-rigth h4 {
  width: 274px;
  height: 40px;
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #888888;
  margin-top: 54px;
}

.upload_btn {
  width: 298px;
  height: 55px;
  background: #1dd8ff;
  border-radius: 5px;
  color: #000000;
  font-family: "montserat-m";
  font-size: 14.8895px;
  line-height: 150%;
  margin-top: 24px;
}

/* === section-upload ==*/

/* === aside === */

.webp .aside {
  background: url(../img/section1-background.webp) no-repeat;
  background-size: cover;
}

.aside {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  background: url("../img/section1-background.png") no-repeat/cover;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.aside__container {
  max-width: 760px;
  min-height: 300px;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aside__text {
  width: 100%;
}

.aside__text h3 {
  font-family: "monserat-b";
  font-size: 35px;
  line-height: 150%;
  color: #fff;
  margin: 50px 0px 50px 0px;
}

.aside__text p {
  font-family: "monserat-r";
  font-size: 15px;
  line-height: 158.5%;
  color: #fff;
  margin: 0 0 20px 0;
}

.aside__text_boxs {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.aside__img {
  width: 90%;
  height: 74%;
  margin-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aside__img img {
  width: 100%;
  height: 100%;
}

.text_box {
  width: 40%;
}

.text_box span {
  display: block;
  font-family: "montserat-m";
  font-size: 35px;
  line-height: 150%;
  color: #fff;
}

.text_box p {
  display: block;
  width: 70%;
  font-family: "montserat-r";
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

/* === figure === */

.figure {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.figure h3 {
  text-align: center;
  font-family: "montserat-b";
  font-size: 35px;
  line-height: 150%;
  color: #04105d;
}

.figure__items {
  margin: 50px 0 100px 0;
  width: 50%;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.figure__items img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*  === figure end === */

/*=== section-table ===*/

.section__upload_item-rigth {
  width: 667px;
  height: 609px;
  background: #f4f4f6;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__upload_result {
  width: 680px;
  min-height: 609px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__upload_result-container a {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  left: 620px;
  bottom: 60px;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  padding: 8px 0 0 15px;
}

.section__upload_result-container .carusel {
  width: 125px;
  height: 41px;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  float: right;
  background: #fff;
  font-family: "montserat-r";
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #1c1c1c;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__upload_result-container .arrow-right {
  position: relative;
  left: 595px;
  top: 38px;
  width: 40px;
  height: 30px;
  background: #fff;
}

.section__upload_result-container .arrow-right:after {
  position: relative;
  content: "\f054";
  color: #ababab;
  font-family: "fa-light-300";
  left: 0px;
  top: 0px;
}

.section__upload_result-container .arrow-left {
  position: relative;
  left: 558px;
  top: 38px;
  width: 40px;
  height: 30px;
  background: #fff;
}

.section__upload_result-container .arrow-left::before {
  position: relative;
  content: "\f053";
  color: #ababab;
  font-family: "fa-light-300";
  left: 0px;
  top: 0px;
}

.result__update {
  width: 680px;
  height: 79px;
  background: #f4f4f6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.result__update_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 29px -520px 30px 433px;
}

.result__update_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 29px 41px 30px 582px;
}
.result__update_right button:hover {
  color: #4a90e2;
}

.result__update button {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f4f4f6;
  color: #8d8d8d;
  padding: 1px 0 0 15px;
}

.result__update_table {
  margin-top: -40px;
}

.result__update_table table {
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.result__update_table table input[type="text"] {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000000;
}

.result__update_table table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.result__update_table table tr .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background: #f4f4f6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.result__update_table table tr .custom-checkbox:checked::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.result__update_table
  table
  tr
  .custom-checkbox:not(:disabled):not(:checked):hover::before {
  border-color: #b3d7ff;
}

.result__update_table table tr .custom-checkbox:not(:disabled):active::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.result__update_table table tr .custom-checkbox:focus::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.result__update_table table tr .custom-checkbox:focus:not(:checked)::before {
  border-color: #80bdff;
}

.result__update_table table tr .custom-checkbox:disabled::before {
  background-color: #e9ecef;
}

.result__update_table table th {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #8d8d8d;
  display: flex;
  padding: 25px 0px;
  border: 1px solid #e8e8e8;
}

.result__update_table table td {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000000;
  padding: 25px 12px;
  border: 1px solid #e8e8e8;
}

.result__update_table table td input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.result__update_table table td input[type="text"] {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000000;
}

.result__update_table table td button {
  width: 90px;
  height: 41px;
  background: #1dd8ff;
  border-radius: 5px;
  font-family: "montserat-m";
  font-size: 14.8895px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1c1c1c;
}

input[type="text"] {
  font-family: "montserat-r";
  font-size: 13px;
  line-height: 158.5%;
  color: #000000;
}

.search {
  width: 274px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 12px 0 14px 406px;
  padding: 17px 0 17px 29px;
}

/*=== всплывающее окно с результатом ===*/
.bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 300;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  /* display: block - делает затемнение экрана */
  display: none;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.result__container {
  position: absolute;
  width: 580px;
  transition: 0.5s;
  min-height: 751px;
  background: #ffffff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex - всплытие окна с результатом */
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 400;
}

.result__container_header {
  position: relative;
  top: -122px;
  left: 0;
  width: 580px;
  height: 95px;
  background: #f4f4f6;
  border-radius: 15px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.result__container_header h3 {
  font-family: "montserat-m";
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  position: relative;
}

.result__container_header-img {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.result__container_header-img a {
  padding: 0px 0px 0px 32px;
}

.result__container .result-img {
  position: relative;
  top: -75px;
  left: 0px;
}

.result__container span {
  display: block;
  width: 484px;
  height: 182px;
  font-family: "roboto-r";
  font-size: 13px;
  line-height: 170%;
  color: #5f3838;
  margin-top: 45px;
}

.result__container textarea {
  width: 473px;
  height: 100px;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 30px 110px 15px 80px;
  resize: none;
}

.result__container textarea[type="text"] {
  font-family: "montserat-r";
  font-size: 15px;
  line-height: 158.5%;
  color: #000000;
}

.result__container button {
  width: 90px;
  height: 41px;
  background: #1dd8ff;
  border-radius: 5px;
  font-family: "montserat-m";
  font-size: 14.8895px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #1c1c1c;
  position: relative;
  left: 173px;
  top: -56px;
}
/*  === footer === */
.footer {
  width: 100%;
  margin: 0 auto;
  min-height: 300px;
  color: #fff;
  background-color: #1c1c1c;
}

.footer__body {
  max-width: 1400px;
  margin: 0 auto;
}

.footer__body_items {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 120px;
}

.footer__body_item {
  margin-top: 58px;
  width: 100%;
  flex: 1 0 30.333%;
}
.footer__body_item a {
  font-family: montserat-r;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
  display: block;
  color: #fff;
}

.footer__body_item p {
  font-family: "montserat-r";
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}

.footer__body_item span {
  display: block;
  font-family: "montserat-r";
  font-size: 22px;
  line-height: 150%;
}

.footer__body_item .footer_logo {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}

.footer__body_item .footer_logo > span {
  color: #fff;
  font-family: play;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  left: 4px;
  top: -4px;
}

.footer__body_item .footer_logo:after {
  content: "모네 뇌영상 공작실";
  position: relative;
  top: 11px;
  left: -98px;
  color: #fff;
  font-family: notoSb;
  font-size: 9px;
  line-height: 9px;
}

.footer__body_cards {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-top: 1px solid #fff;
}

.footer__body_card {
  margin-top: 18px;
  width: 50%;
}

.footer__body_card p {
  display: block;
  font-family: "montserat-r";
  font-size: 14px;
  line-height: 150%;
}

.footer__body_card p:after {
  content: "|";
  color: #fff;
  margin-left: 70px;
}

.footer__body_card span {
  display: block;
  font-family: "montserat-r";
  font-size: 14px;
  line-height: 150%;
}

/*  === footer end === */

.webp .section_header {
  background: url(../img/Vector.webp);
}

.webp .aside {
  background: url(../img/section1-background.webp) no-repeat/cover;
}
